.textbox-wrap {
  width: 800px;
  height: 250px;
  background: var(--boxbg);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 16px;
}

.black-back-text {
  font-size: 30px;
  color: rgb(62, 62, 62);
}

.correctly-typed-text {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.incorrectly-typed-text {
  font-size: 30px;
  color: rgb(255, 0, 0);
}
