body {
  background-color: var(--pagebg);
}

.page {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: left;
  margin: 0;

  color: var(--back-text);
}

.centered-page {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
