body {
  background-color: var(--pagebg);
}

.centered-page {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  gap: 16px;
}

.content {
}

.bottom-row {
}

/* a */
